section.linha10{
    background-color: burlywood;
}

p.linha2{
    background-color: #AFD6FF;
}

main.linha1{
    text-align: center;
    background-color: gray;
    font-family: 'Bebas Neue', cursive;
}

h1.linha1{
    background-color: gray;
}

.title{
    background-color: gray;
    font-family: 'Phudu', cursive;
    text-align: center;
}

.corpo{
    justify-content: center;
    padding: 10% 0% 10% 0%;
}

.container{
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 1200px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
} 

img{
   width: 50%;
}

p{
    font-family: "Poppins", sans-serif;
}

p.linha1{
    text-align: center;
}

p.linha2{
    text-align: center;
    background-color: gray;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;   
}     

main.cards{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: flex-end;
    margin: 0em;
    padding: 10% 0% 10% 0%;
}

main.cards section.card{
    align-items: center;
    background: #AFD6FF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

main.cards section.card .icon{
    width: 64px;
    height: 64px;
}

main.cards section.card img{
    width: 100%;
}

main.cards section.card h3{
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span{
    font-weight: 300;
    font-size: 80%;
    margin-bottom: 16px;
    max-width: 240px;
}

main.cards section.card button{
    border: 0;
    border-radius: 32px;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    margin-bottom: 16px 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

main.cards section.card.contact button{
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}

main.cards section.card.shop button{
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}

main.cards section.card.about button{
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

main.cards section.card.contact{
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}

main.cards section.card.shop{
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}

main.cards section.card.about{
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}

@media screen and (max-width: 720px){
    main.cards{
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child{
        margin-bottom: 0;
    }

    main.cards section.card button{
        font-size: 70%;
    }

}
  
footer{
    background-color: gray;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
